a {
    font-size: 40px;
}
a:link {
	color: blue;
}
a:visited {
	color: rgb(60, 255, 0);
}
a:hover {
	text-decoration: underline;
    color: red;
}
a:active {
	color: rgb(174, 0, 255);
}
#elem .text {
    color:blue;
}