
body {
	background-color: #dfdddd;
	font-family: 'Open Sans',sans-serif;
	margin: 0 0 0 0;
}
img {
	width: 107px;
	/*! margin-left: 30px; */
}
*{
	box-sizing:border-box;
	/*! margin-left: 30px; */
}
.abz-2 {
	background-color: #8bcece;
	color: #6c4915;
	padding: 18px;
	margin: 12px;
}
.lol {
	border: 5px solid #1b3b64;
	width: 133px;
	height: 38px;
}
.lol-2 {
	padding: 7px;
}

.fhfh {
	border: 3px solid black;
	width: 404px;
	display: block;
	height: 261px;
	margin-bottom: 30px;
}

.ookok {
	
	border: 3px solid black;
	padding-left: 79px;
	padding-top: 40px;
	/* margin-right: 1009px; */
	width: 500px;
	height: 300px;
}

.jikj {
	
	/*! border: 3px solid black; */
	/*! padding-left: 79px; */
	/*! padding-top: 40px; */
	/* margin-right: 1009px; */
	/*! width: 50%; */
	/*! height: 700px; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 254px;
	box-shadow: 1px 1px 11px #0000003d;
	background-color: #f2f2f2;
}
.dd {
	border-radius: 182px;
	border: 5px solid black;
	width: 50%;
	height: 181px;
	margin-bottom: 64px;
	background-color: aliceblue;

}
.tt {
    border-radius: 27px;
    width: 291px;
    height: 481px;
    background-color: #fdfdfd;
    margin: 24px;
    padding: 29px;
    color: #757575;
    margin-top: -294px;
	line-height: 1.6;
}

.p{
	font-size: 18px;
	padding-top: 43px;
	padding-bottom: 15px;
	/*! color: #8a868e; */
}
.p2 {
  font-size: 20px !important;
  font-weight: bold;
  /*! color: #8a868e; */
}
.p3 {
  font-size: 20px !important;
  color: black;
  /*! color: #8a868e; */
}

.top-image-1 {
  background-color: aliceblue;
  height: 121px;
  background-image: url(img-1.jpeg);
  background-size: 100%;
  width: 125px;
  background-position: center top;
  border-radius: 112px;
}
.top-image-2 {
    background-color: aquamarine;
    width: 125px;
    height: 121px;
    border-radius: 100px;
    background-image: url(img-2.jpeg);
    background-size: 145%;
    background-position: center;
}
.top-image-3 {
    background-color: blue;
    width: 125px;
    height: 121px;
    border-radius: 100px;
    background-image: url(hykl.jpeg);
    background-size: 100%;
}
.back {
	width: ;
}
.selection-img {
    background-image: url(img-2.jpeg);
    width: 100%;
    height: 819px;
	background-size: cover;
    /* background: no-repeat; */
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: #333333;
}
.p-f {
	margin: 0 5px;
	color: #ffffff;
}
a {
	color: #c5cee3;
}
a:hover {
	text-decoration: none;
}
