h1 {
    color:green;
    text-align: right;
}
h2 {
    color: blue;
    text-align: center;
    width: 300px;
}
p {
    color: #ffa500;
    text-align: justify;
    width: 300px;
}
table {
    width: 500px;
    height: 10px;
}
th {
    text-align: left;
}
td {
    text-align: center;
}