h1 {
    text-align: center;
}
.block-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 307px;
}
.block-1-1 {
    background-color: aqua;
    width: 630px;
    height: 164px;
}
.block-1-2 {
    background-color: rgb(25, 199, 199);
    width: 630px;
    height: 164px;
}

.block-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 307px;
}
.block-2-1 {
    background-color: yellowgreen;
    height: 148px;
    width: 148px;
}
.block-2-2 {
    background-color: yellow;
    height: 148px;
    width: 148px;
}
.block-3 {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 200px;
}
.block-3-1 {
    background-color: tomato;
    width: 1529px;
    height: 148px;
}

