body {
    width: 500px;
    font-family: Arial;
}
h1 {
    color: blue;
    text-align: center;
}
p {
    text-indent: 50px;
    line-height: 1.5;
}
h2 {
    color: green;
    text-align: center;
    text-transform: none;
}
.gf {
    color: green;
}
ul {
    line-height: 1.5;
    text-align: justify;
    width: 400px;
}
